* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-yellow: #ffb964;
  --color-light: #fcfaf9;
  --color-dark: #191826;
}

h1 {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 5.5rem;
  letter-spacing: -1px;
  color: var(--color-dark);
}
h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-dark);
}

.body-1 {
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: var(--color-dark);
}

.body-2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
}

body {
  /* overflow-x: hidden; */
  background: url("./assets/bg-main-mobile.png") no-repeat top -264px right -222px;
  background-color: var(--color-light);
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/bg-pattern-1.svg),
      url(./assets/bg-main-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top clamp(-40px, -1.5vw, -32px) right
        clamp(-36px, calc(100vw - 1068px), 0px),
      top -287px center;
    background-size: auto clamp(400px, 38vw, 468px), auto;
    /* background-position: top -287px right -110px; */
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url(./assets/bg-pattern-1.svg),
      url(./assets/bg-main-desktop.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top clamp(-40px, -1.5vw, -32px) right
        clamp(-36px, calc(100vw - 1068px), 0px),
      top -287px center;
    background-size: auto clamp(400px, 38vw, 468px), auto;
  }
}
header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  max-width: 45rem;
}

@media (min-width: 425px) {
  header {
    margin-top: clamp(2.5rem, 9%, 3.875rem);
    margin-bottom: clamp(2.5rem, 9.29%, 4.45rem);
  }
}

@media (min-width: 768px) {
  header {
    max-width: clamp(45rem, 92vw, 72.375rem);
    margin-bottom: clamp(4.45rem, 9.29%, 6.438125rem);
  }
}

.title-section {
  margin: 0 auto;
  width: 100%;
  max-width: 45rem;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .title-section {
    max-width: clamp(45rem, 92vw, 72.375rem);
  }
}

.title-container {
  /* padding: 1.5rem; */
  max-width: 32.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .title-container {
    max-width: clamp(32.5rem, 70vw, 53.5rem);
  }
}

.title {
  margin: 0;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.028rem;
  color: var(--color-dark);
}

@media (min-width: 425px) {
  .title {
    font-size: clamp(2.5rem, 9vw, 4rem);
    line-height: clamp(3rem, 9.75vw, 4rem);
    letter-spacing: clamp(-0.0454545rem, -0.1vw, -0.028rem);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: clamp(4rem, 7vw, 5.5rem);
    line-height: clamp(4rem, 6.75vw, 5.5rem);
    letter-spacing: clamp(-0.0625rem, -0.1vw, -0.0454545rem);
  }
}

.title-container .subtitle {
  margin: 0;
  font-size: 1rem;
  line-height: 1.63rem;
  letter-spacing: 0rem;
  color: var(--color-dark);
}

@media (min-width: 425px) {
  .title-container .subtitle {
    font-size: clamp(1rem, 9vw, 1.125rem);
    line-height: clamp(1.63rem, 9.75vw, 1.75rem);
  }
}
@media (min-width: 768px) {
  .title-container .subtitle {
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    line-height: clamp(1.75rem, 2.75vw, 2.125rem);
  }
}

.price-links-container {
  margin: 0 auto;
  margin-top: clamp(10.375rem, 34vw, 15.5625rem);
  min-width: 23.44rem;
  max-width: 43.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-dark) url("./assets/bg-pattern-2.svg") no-repeat top
    center;
  background-size: 280px;
}

@media (min-width: 650px) {
  .price-links-container {
    background-color: var(--color-dark);
    background-image: url(./assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-size: clamp(280px, 25vw, 312px);
    background-position: top clamp(-40px, calc(900px - 100vw), 0px) right
      clamp(187px, 35vw, 462px);
  }
}

@media (min-width: 768px) {
  .price-links-container {
    max-width: clamp(43.5rem, 90vw, 69.375rem);
    margin-top: clamp(15.5625rem, 34vw, 20.0625rem);
  }
}

.phone {
  margin-top: -6.13rem;
  width: 55.725%;
  max-width: 16.875rem;
}

@media (min-width: 485px) {
  .phone {
    margin-top: clamp(-8.625rem, -17vw, -6.13rem);
    margin-left: min(calc((100% - 55.725%) / 2), 4rem);
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .phone {
    width: auto;
    max-width: 100%;
    max-height: clamp(34.75rem, 72vw, 40.125rem);
    margin-top: clamp(-13.3125rem, -15.5vw, -8.625rem);
    margin-left: clamp(4rem, 8vw, 6.375rem);

    margin-right: auto;
  }
}

.card {
  min-width: min(100%, 23.44rem);
  max-width: 25rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem clamp(2.25rem, 9.6%, 3rem);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--color-orange);
}

@media (min-width: 425px) {
  .card {
    margin-right: min(calc((100% - 25rem) / 2), 3.625rem);
    margin-left: auto;
    margin-top: clamp(-16.5rem, calc(11.5rem - 59vw), -3rem);
    margin-bottom: clamp(-7.5rem, -10vw, 0rem);
  }
}

@media (min-width: 768px) {
  .card {
    margin-right: clamp(3.625rem, 7.6vw, 5.9375rem);
    margin-top: clamp(-21.1875rem, -33vw, -16.5rem);
    margin-left: auto;
    padding: 3rem;
    max-width: clamp(25rem, 32vw, 27.875rem);
    gap: clamp(0.75rem, 1vw, 1.375rem);
  }
}

.card-title {
  margin: 0;
  font-size: clamp(2rem, 3vw, 2.5rem);
  line-height: clamp(2.5rem, 3vw, 3.255rem);
  font-weight: bold;
  color: var(--color-light);
}

.card-text {
  margin: 0;
  font-size: clamp(1.13rem, 1.5vw, 1.25rem);
  font-weight: normal;
  line-height: clamp(1.75rem, 3vw, 2.125rem);
  color: var(--color-light);
}

.card-price {
  margin: 1.5rem 0;
  font-size: 4rem;
  line-height: 3.25rem;
  font-weight: bold;
  color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-frequency {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: normal;
}

.card-button {
  max-width: 100%;
  padding: 0.875rem;
  font-size: 1.13rem;
  line-height: 2rem;
  border-radius: 0.75rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card-button-ios {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.card-button-ios:hover {
  background-color: var(--color-blue);
  cursor: pointer;
}

.card-button-android {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.card-button-android:hover {
  background-color: var(--color-yellow);
  cursor: pointer;
}

footer {
  max-width: 45rem;
  margin: 4rem auto 5rem;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 425px) {
  footer {
    margin-top: clamp(4rem, 27vw, 11.4375rem);
  }
}

@media (min-width: 768px) {
  footer {
    max-width: clamp(45rem, 83%, 72.375rem);
  }
}

@media (min-width: 1440px) {
  footer {
    flex-wrap: nowrap;
    gap: 8.625rem;
  }
}

.footer-text-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.footer-text {
  margin: 0;
  max-width: 22.875rem;
  font-size: 1rem;
  line-height: 1.63rem;
  font-weight: normal;
  color: var(--color-dark);
}

.footer-text-bold {
  font-weight: bold;
}

.footer-links-container {
  display: flex;
  gap: 1.25rem;
}

.footer-links img:hover {
  color: var(--color-orange);
}
